@import url("fonts.css");
@import url("reset.css");

body {
    font-family: "Inter", sans-serif, "Proxima Nova Rg";
}

.wrapper {
    min-height: 100%;
    overflow: clip;
}

[class*="__container"] {
    max-width: 1290px;
    margin: 0 auto;
}

.header {
  background-color: rgb(178, 211, 239);
  padding: 15px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  margin-bottom: 100px;
}
.header-container {
    max-width: 1290px;
    margin: 0 auto;
    font-size: 0;
  position: relative;
}
.button {
  display: inline-block;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  background-color: #FFBC57;
  color: #fff;
  padding: 11px 20px;
  border-radius: 8px;
  vertical-align: middle;
}

.button__link {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.button__link:hover {
  text-decoration: underline;
}

.button:hover {
	background-color: #f5b966b9;
}

.button__link::before {
  content: '';
  background: url(../img/menu.svg) 0 0 no-repeat;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  margin-right: 10px;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0; 
  margin-top: 40px;
 display: none;
  border-radius: 8px;
  background: #fff;
  color: #2B2929;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  padding: 8px 0;
  max-width: 300px;
  z-index: 50; 
}

.menu__list {
  font-size: 0;
 }

 .menu:target {
	display: block;
 }

 .menu__item {
  font-weight: 600;
	font-size: 20px; 
	line-height: 1.4;
	color: #2b2929;
	max-width: 300px;
  border-right: 5px solid #ffbc57;
 }

.menu__item:not(:last-child) {
  padding-bottom: 16px;
}

.menu__item:hover {
  background: #FFBC57;
}

.menu__link:hover {
    text-decoration: underline;
  }

.menu__item:hover .sub-menu {
	display: block;
}

.menu__link, .sub-menu__link {
  position: relative;
 vertical-align: middle;
 width: 100%;
 max-width: 300px;
 padding: 10px 30px;
}

.menu__link::after {
  content:"";
  background: url(../img/arrow.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 22px;
  right: 12px;
}

.menu__link img {
    width: 30px;
    vertical-align: middle;
    margin-right: 15px;
}

span {
  padding: 0 15px 0 30px;
  }

.menu__link:hover::after {
  content: "";
  background: url(../img/arrow.svg) 0 0 / 100% no-repeat;
  vertical-align: middle;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 30%;
	right: 15px;
}

.menu__link:hover {
	background-color: #FFBC57;
}
  
.menu__item:hover::before {
	content: "";
	position: absolute;
	background: #FFBC57;
	height: 98.3%;
	top: 0.8%;
	width: 5px;
	right: 0;
}

.sub-menu {
  position: absolute;
  left: 100%;
  top: 0;
  min-height: 100%;
  min-width: 320px;
  padding: 20px;
  background-color: #fff;
  display: none;
}

.sub-menu__link {
  font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 19px;
    line-height: 2.2;
}

.menu__item:hover .sub-menu {
  display: block;
}

.sub-menu__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.sub-menu__item:hover {
    background: #FFBC57;
  }

  .sub-menu__link:hover {
    text-decoration: underline;
  }

.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.main {
  padding-bottom: 100px;
}

.card {
    max-width: 250px;
    width: 20%;
    max-height: 300px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 5px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 10px #f3eaea;
}

.card__link {
    display: inline-block;
    border-radius: 8px;
    width: 100%;
}

.card__title {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    position: absolute;
    top: 20px;
    left: 20px;
}
.card__number {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: right;
    color: #b1b1b1;
    position: absolute;
    top: 20px;
    right: 20px;
}
.card__img {
    max-width: 250px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.card__link::after {
    content: "";
    background: url(../img/arrowa.svg) 0 0 no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.position {
    display: inline-block; 
    margin-bottom: 100px;
}

.relative-block, .absolute-block, .fixed-block {
    display: inline-block; 
    border: 3px solid;
    padding: 30px;
    border: 3px solid;
}

.size {
    width: 200px;
    height: 60px;
    font-weight: 600;
}

.position__relative, .position__absolute, .position__fixed {
    padding: 45px;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
    max-width: 300px;
    max-height: 300px;
}

.relative-block__a:nth-child(1){
    background-color: rgb(17, 247, 247);
}

.relative-block__a:nth-child(2) {
    background-color: rgb(230, 100, 219);
    position: relative;
    left: 30px;
    top: 40px;
    
}
.relative-block__a:nth-child(3) {
    background-color: rgb(82, 80, 190);
}
  

.relative-block__b:nth-child(1){
    background-color: rgb(17, 247, 247);
}

.relative-block__b:nth-child(2) {
    background-color: rgb(230, 100, 219);
    position: relative;
    left: 30px;
    top: 40px;
    
}
.relative-block__b:nth-child(3) {
    background-color: rgb(82, 80, 190);
    position: relative;
    z-index: 2;
}

.position__absolute {
    position: relative;
}

 .absolute-block__a:nth-child(1){
    background-color: rgb(17, 247, 247);
}

.absolute-block__a:nth-child(2) {
    background-color: rgb(230, 100, 219);
    position: absolute;
    left: 10%;
    top: 80px;
    z-index: 5;
}
.absolute-block__a:nth-child(3) {
    background-color: rgb(82, 80, 190);
 position: relative;
}


.absolute-block__b:nth-child(1){
    background-color: rgb(17, 247, 247);
}

.absolute-block {
    position: relative;
}

.absolute-block__b:nth-child(2) {
    background-color: rgb(230, 100, 219);
    position: absolute;
    left: 10%;
    top: 10%;
}
.absolute-block__b:nth-child(3) {
    background-color: rgb(82, 80, 190);
}

.fixed-block {
   position: relative;
overflow: auto;
}

.fixed-block__a:nth-child(1){
    background-color: rgb(17, 247, 247);
    position: sticky;
    top: 0;
    z-index: 2;
}

.fixed-block__a:nth-child(2) {
    background-color: rgb(230, 100, 219);
    position: fixed;
   bottom: 20px;
   left: 20px;
}


.fixed-block__a:nth-child(3){
    background-color: rgb(82, 80, 190);
}

.list {
  position: relative;
  padding: 30px 30px 100px;
 background-color: rgb(221, 233, 245);
 }

.list__item {
position: relative;
padding-left: 45px;
}

.list__item:not(:last-child) {
  margin-bottom: 10px;
  line-height: 1.2;
}

.list__item::before {
content: "";
position: absolute;
top: -5px;
left: 0;
background: url(../img/list.svg) 0 0 / 100% no-repeat;
width: 40px;
height: 40px;
}

.list__item:hover {
  transform: scale(1.2);
}

.decor {
position: absolute;
top: 50%;
margin-top: -200px;
right: 0;
}

.decor:hover {
  transform: rotate(-180deg);
}

